* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 50.5%;
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #e1ecf7;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00599c;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.image-logo {
  height: 6rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  transition: all 1s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #a2f3a3;
  width: 2rem;
  height: 2rem;
}
.section-header {
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
  margin-top: 0.01rem;
  background-color: #e1ecf7;
}
.book-list-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  gap: 20rem;
}
.book-description {
  font-size: 2.5rem;
  margin-top: 3rem;
}
.list-books-table {
  margin-top: 3rem;
  font-size: 1.5rem;
}

td {
  padding: 0.5rem;
  text-align: left;
  border-radius: 0.5rem;
}

tr:nth-child(even) {
  background-color: #00599c;
  color: #faf9f9;
}
tr:nth-child(odd) {
  background-color: #b0d3ee;
  color: #100f0f;
}
/*.books-section {
  margin-top: 50px;
  text-align: center;
  color: #00599c;
  text-transform: uppercase;
}*/
.select-category {
  border-radius: 2rem;
  width: 15rem;
}
.ul-list-books1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.list-books-images {
  list-style: none;
  display: flex;
  gap: 5rem;
  display: flex;
  margin-top: 3rem;
}
.general-section1-division {
  display: flex;
  justify-content: center;
  background-color: #e1ecf7;
  margin: 0 auto;
}
.ul-list-books2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.list-books-images2 {
  list-style: none;
  display: flex;
  gap: 5rem;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.general-section2-division {
  display: flex;
  justify-content: center;
  background-color: #e1ecf7;
}

.add-to-cart {
  background-color: #00599c;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.book-price {
  font-weight: bolder;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.footer {
  margin-top: 80rem;
  font-size: 2rem;
  text-align: center;
  background-color: #00599c;
  height: 20rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
  transition: all 1s;
}
.footer-link:hover,
.footer-link:active {
  color: #100f0f;
}
